* {
  margin: 0;
  padding: 0;
}

header h1 {
  font-family: "Caveat", cursive;
  color: #ef476f;
  font-size: 60px;
}

.main-temp {
  font-size: 65px;
}

header {
  background-color: #06d6a0;
  color: #edf6f9;
  box-sizing: border-box;
  padding: 5px;
}

footer {
  background-color: #118ab2;
  color: #fff9eb;
  padding: 5px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Oswald", sans-serif;
}

figure {
  color: #073b4c;
  font-size: 20px;
  padding-left: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 90%;
  margin: 20px;
  padding: 15px;
}

a {
  color: #ef476f;
  text-decoration: none;
}

a:active {
  color: #ffd166;
}

a:visited {
  text-decoration: none;
}

main {
  background: linear-gradient(rgba(6, 214, 160, 0.9), rgba(17, 138, 178, 0.6)),
    url(https://i.imgur.com/tQP7D1a.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button {
  background-color: #ef476f;
  border: none;
  padding: 15px 32px;
  text-decoration: none;
  border-radius: 0 25px 25px 0;
}

input {
  border: none;
  outline: none;
  border-radius: 25px 0 0 25px;
}

input:focus {
  border: none;
}

i {
  font-size: 48px;
  color: #83c5be;
}

button,
input {
  display: inline-block;
  margin-top: 60px;
  padding: 15px;
  font-size: 20px;
}

.error-text {
  color: #ff0033;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}

.icons {
  display: inline-block;
  text-align: center;
}

.info {
  text-align: center;
}

.search-section {
  display: flex;
}

.temp-units {
  color: #ef476f;
  font-size: 25px;
  font-family: "Oswald", sans-serif;
  padding: 0px 20px 0px;
  margin-right: 65px;
}

.weather-info {
  color: #fff9eb;
}

::placeholder {
  font-size: 15px;
}

@media screen and (min-width: 1024px) {
  header h1 {
    text-align: center;
    font-size: 100px;
    color: #ff751f;
  }
  a img {
    width: 30px;
  }
  footer {
    display: flex;
  }
  .info {
    align-self: flex-end;
  }
  figure {
    font-size: 30px;
    background: none;
    text-align: center;
    margin-top: 50px;
  }

  button {
    background-color: #ff751f;
  }

  input {
    width: 550px;
  }

  button,
  input {
    margin-top: 150px;
  }

  a,
  .temp-units {
    color: #ff751f;
    font-size: 30px;
  }

  ::placeholder {
    font-size: 17px;
  }

  .main-temp {
    font-size: 80px;
  }
}

@media screen and (min-width: 580px) and (max-width: 1023px) {
  header h1 {
    text-align: left;
    font-size: 70px;
  }

  a img {
    width: 40px;
  }

  footer {
    display: flex;
  }

  button,
  input {
    margin-top: 110px;
  }

  .info {
    align-self: flex-end;
  }

  figure {
    font-size: 25px;
    background: none;
    text-align: center;
    margin-top: 25px;
  }

  .main-temp {
    font-size: 75px;
  }
}
